<ion-modal [isOpen]="isOpen" (didDismiss)="onCancel()" class="custom-modal">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title class="text-main font-bold">
          {{ title }}
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onCancel()" color="medium">
            ✕
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <div class="modal-body py-4">
        <p class="text-main text-lg leading-relaxed m-0 text-center">
          {{ message }}
        </p>
      </div>

      <div class="modal-footer mt-6 flex justify-between gap-4">
        <ion-button expand="block" (click)="onCancel()" class="btn-cancel flex-1 font-bold">
          {{ cancelText }}
        </ion-button>

        <ion-button expand="block" (click)="onConfirm()" [ngClass]="{'btn-danger': dangerAction, 'btn-primary': !dangerAction}" class="flex-1 font-bold">
          {{ confirmText }}
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
