@use '../../../styles/variables' as *;

ion-modal.custom-modal {
  --height: auto;
  --width: 90%;
  --max-width: 450px;
  --border-radius: 16px;
  --background: transparent;
  --backdrop-opacity: 0.7; 
  
  &::part(content) {
    border-radius: 16px;
    background: transparent;
    overflow: visible;
  }
}

.modal-wrapper {
  background-color: $color-bg-base;
  border-radius: 16px;
  overflow: hidden;
}

.modal-header {
  background-color: $color-primary;
  color: white;
}

.modal-body {
  background-color: $color-bg-base;
}

.main-message {
  color: $color-text-main;
}

.btn-cancel {
  background-color: $color-primary;
  border-color: $color-primary;
  color: white;
  &:hover {
    background-color: rgba($color-primary, 0.9);
  }
}

.btn-submit {
  background-color: $color-primary;
  &:hover {
    background-color: rgba($color-primary, 0.9);
  }
}

.btn-danger {
  background-color: $color-error;
  &:hover {
    background-color: rgba($color-error, 0.9);
  }
}