<ion-modal [isOpen]="isOpen" (didDismiss)="onCancel()" class="custom-modal" [backdropDismiss]="false">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar class="deli-toolbar">
        <ion-title class="font-header">{{ title }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding transparent-content">
      <!-- Contenedor principal con tu estilo custom-bg -->
      <div class="modal-body-wrapper custom-bg">

        <div class="main-message font-body">
          {{ message }}
        </div>

        <div class="footer-buttons ion-margin-top">
          <!-- Botón Cancelar (Estilo minimalista) -->
          <ion-button expand="block" fill="clear" (click)="onCancel()" class="btn-cancel font-bold">
            {{ cancelText }}
          </ion-button>

          <!-- Botón Confirmar (Estilo sólido: primario o error) -->
          <ion-button
            expand="block"
            (click)="onConfirm()"
            [class.btn-danger]="dangerAction"
            [class.btn-confirm]="!dangerAction"
            class="submit-btn font-bold">
            {{ confirmText }}
          </ion-button>
        </div>

      </div>
    </ion-content>
  </ng-template>
</ion-modal>
