@use '../../../styles/variables' as *;

$header-height: 72px;

.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.admin-content {
  flex: 1;
  overflow-y: auto;
  background-color: $color-bg-base;
  padding: 1.5rem;
  position: relative;
  width: 100%;
}

app-aside {
  
  width: auto;
  height: 100%;
  z-index: 1000;

  @media (max-width: 768px) {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
  }
}