@use '../../../styles/variables' as *;

:host {
  display: block;
}

.custom-input {
  background-color: white !important;
  border-color: rgba($color-bg-alt, 0.5);
}

.section-title {
  color: $color-primary;
  border-bottom-color: rgba($color-bg-alt, 0.5);
}

.error-text {
  color: $color-error;
}

.btn-submit {
  background-color: $color-primary;
  color: white;
  &:hover {
    background-color: rgba($color-primary, 0.9);
  }
}

ion-item {
  --background: white !important;
  --highlight-color-focused: #{$color-primary} !important;
  --padding-start: 16px;
  --inner-padding-end: 16px;
  
  &::part(native) {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

ion-input, ion-textarea, ion-select {
  color: $color-text-main;
}

ion-select {
  --placeholder-color: rgba(#{$color-text-main}, 0.4);
  --placeholder-opacity: 1;
  width: 100%;
  
  &::part(container) {
    padding-top: 4px;
  }
}
