<ion-modal [isOpen]="isOpen" (didDismiss)="closeModal()" class="custom-modal" [backdropDismiss]="false">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar class="deli-toolbar">
        <ion-title class="font-header">{{ title }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding transparent-content">
      <!-- Contenedor principal de altura dinámica -->
      <div class="modal-body-wrapper custom-bg">

        <div class="main-message font-body">
          {{ message }}
        </div>

        @if (hasFieldErrors()) {
          <div class="field-errors-container">
            <ion-list lines="none" class="bg-transparent">
              @for (err of getFieldErrorsList(); track err.field) {
                <ion-item class="error-item">
                  <ion-label class="ion-text-wrap">
                    <strong>{{ err.field }}:</strong> {{ err.message }}
                  </ion-label>
                </ion-item>
              }
            </ion-list>
          </div>
        }

        <div class="ion-margin-top">
          <ion-button expand="block" type="submit" class="submit-btn" (click)="closeModal()">
          Entendido
          </ion-button>
        </div>

      </div>
    </ion-content>
  </ng-template>
</ion-modal>
