@use '../../../styles/variables' as *;

ion-content {
  --background: #{$color-bg-base};
}

.login-wrapper {
  background-color: $color-bg-base;
}

.login-card {
  background-color: white;
  border-color: rgba($color-bg-alt, 0.5);
}

.logo-title {
  color: $color-primary;
}

.subtitle {
  color: rgba($color-text-main, 0.7);
}

.text-main {
  color: $color-text-main;
}

.custom-input {
  border-color: rgba($color-bg-alt, 0.5);
}

.error-text {
  color: $color-error;
}

.btn-submit {
  background-color: $color-primary;
  color: white;
  &:hover {
    background-color: rgba($color-primary, 0.9);
  }
}

.link-secondary {
  color: $color-secondary;
  &:hover {
    text-decoration: underline;
  }
}

.link-home {
  color: rgba($color-text-main, 0.7);
  &:hover {
    color: $color-text-main;
    text-decoration: underline;
  }
}

ion-item {
  --background: white !important;
  --highlight-color-focused: #{$color-primary} !important;
  --padding-start: 16px;
  --inner-padding-end: 16px;
  
  &::part(native) {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

ion-input {
  color: $color-text-main;
}

ion-input {
  color: $color-text-main;
}