$color-primary: #204A33;
$color-secondary: #7E1E15;
$color-text-main: #1B2E24;
$color-bg-base: #F9F6EF;
$color-bg-alt: #DAD7D0;
$color-success: #204A33;
$color-error: #7E1E15;
$color-warning: #523c09;

$spacing-xs: 8px;   
$spacing-s: 16px;   
$spacing-m: 24px;   
$spacing-l: 32px;   
$spacing-xl: 48px;  
$spacing-xxl: 64px; 